# Python
__pycache__/
*.pyc
*.pyo
carbon_env/
*.egg-info/
.env

# Logs (isteğe bağlı — ekip görsün diye bırakabilirsin)
# logs/

# Docker binary (büyük dosya)
docker/docker-static

# OS
.DS_Store
*.swp
docker/docker-static
docker/*.tgz
docker/*.tar
docker/*.gz
